Source: libvmod-mruby
Section: web
Priority: extra
Maintainer: Kouichi Nakanishi <keizo.bookman@gmail.com>
Build-Depends: debhelper (>= 7),
 build-essential,
 pkg-config,
 python-docutils,
 varnish (>= 4.0.2),
 libvarnishapi-dev (>= 4.0.2)
Standards-Version: 3.8.1
Vcs-Git: https://github.com/KeizoBookman/libvmod_mruby.git

Package: libvmod-mruby
Architecture: any
Depends: varnish (>= 4.0.2), ${shlibs:Depends}, ${misc:Depends}, ${Varnish:ABI}
Description: mruby extension for VCL
